html, body {
  height: 100%;
  font-family: "Roboto",sans-serif;
}

body {
  margin: 0;
  background-color: #fff; 
}

#display{
  stroke-width: 4px;
  padding-left: 60px;
  padding-top: 60px;
  border-radius: 12px;
  background-color: #FE4365;
}

* { box-sizing: border-box; }

.wrapper {
    border-radius: 5px;
    background-color: #fff4e6;
}

.wrapper > div {
    border-radius: 5px;
    padding: 1em;
    color: #d9480f;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas: 
    ". a a ."
    ". a a ."
    ". a a ."
    ". b b .";
}

.item1 {
  grid-area: a;
  align-self: center;
  justify-self: center;
  width: 400px;
  height: 400px;
}

.item2 {
  grid-area: b;
  justify-self: center;
}

button {
  height: 40px;
  width: 70px;
  padding:10px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  color: #000;
}

